:root {
	font-size: 14px;
}

* {
	font-family: 'Open Sans';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 4px;
}
body::-webkit-scrollbar-thumb {
	background-color: rgb(0, 140, 255);
}
body::-webkit-scrollbar-track {
	background-color: rgb(50, 50, 50);
}

input {
	border: none;
	padding: 5px 7px;
	box-shadow: 1px 1px 2px rgba(50, 50, 50, .2) inset, -1px -1px 2px white inset;
	border-radius: 5px;
}

.pointer {
	cursor: pointer;
}

.link {
	color: blue;
	font-size: .8em;
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
}
.flex-row-space-between {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.flex-row {
	display: flex;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	height: 100%;
	padding: 50px 70px;
	max-width: 1000px;
	margin: 0px auto;
}

.container h1 {
	margin-bottom: 50px;
	font-weight: normal;
}

.container h2 {
	margin-bottom: 25px;
	font-size: 1.3em;
}

section {
	display: flex;
	flex-direction: column;
}
section > * {
	margin-bottom: 15px;
}

.layer-input-container {
	margin-bottom: 30px;
}
.layer-input-container label {
	margin-right: 15px;
}
.layer-input-container .neuron-count-input-container > * {
	margin-bottom: 10px;
}
.neuron-inputs > * {
	margin: 10px 20px;
}
.neuron-inputs > *:first-child {
	margin-left: 0px;
}

#pixi-canvas {
	width: 300px;
	border-radius: 20px;
	transition: width 250ms ease-out;
}
#pixi-canvas.full-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	border-radius: 0px;
}

.input-form-container .input-form > * {
	margin-bottom: 10px;
}
.input-form-container .input-form input {
	width: 100%;
}

.input-form-container.use-custom .csv-input-form,
.input-form-container.use-csv .custom-input-form {
	opacity: 0;
	pointer-events: none;
	display: none;
	transition: opacity 300ms ease-out;
}
.title {
	font-style: italic;
}

#start-btn {
	background-color: rgb(0, 132, 255);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}
/* #csv-form,
.input-container {
	width: 100%;
	padding: 1% 2%;
}

header {
	padding: 1%;
}

#layer-count-container {
	width: 100%;
	padding: 1% 2%;
}

#start-btn-container {
}

#open-modal-btn {
	color: rgb(0, 0, 207);
	cursor: pointer;
}
#open-modal-btn:hover {
	text-decoration: underline;
} */

/* INPUT MODAL STYLES */
.custom-input-modal.hide {
	transform: translateX(-100%);
	opacity: 0;
}
.custom-input-modal {
	opacity: 1;
	transform: translateX(0);
	transition: transform 500ms ease-out, opacity 500ms ease-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	padding: 50px 75px;
	z-index: 99;
}
.custom-input-modal h1 {
	font-weight: lighter;
	margin-bottom: 30px;
}
.close-btn {
	position: absolute;
	top: 50px;
	right: 75px;
	font-size: 24px;
	cursor: pointer;
}

.features-titles {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	margin-bottom: 15px;
}
.features-titles > span {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.features-titles span span:last-child {
	color: red;
	margin-left: 20px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 250ms ease-out;
}
.features-titles > span:hover span:last-child {
	opacity: 1;
	pointer-events: all;
}

.features-titles span:first-child {
	padding-left: 0;
}
.features-titles > span:last-child {
	margin-left: auto;
	margin-right: 34px;
}
.features-titles #add-new-feature {
	margin-left: 50px;
}

#add-new-feature.hide {
	display: none;
}
#add-new-data {
	margin-top: 50px;
}

.data {
	display: flex;
	flex-direction: column;
}
.data div {
	display: flex;
	align-items: center;
}
.data div input {
	margin: 10px 0px;
	margin-right: 20px;
}
.data div input::placeholder {
	color: rgba(0, 0, 0, .3);
}
.data div input:nth-last-child(2) {
	margin-left: auto;
}
.data .delete-row-btn {
	color: red;
}

.features-titles > span,
.data div input {
	width: 100px;
	margin-right: 20px;
}

.slide-container {
	width: 100%;
}
.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}
